body{
  background-color: antiquewhite;
  height: 100vh;
  overflow: hidden;
}

/* Layout Start Here */

.mainBody{
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(225, 225, 230);
}

/* Side Nabvar Start Here */
.sidenavbar{
  background-color: rgb(28,36,52);
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.siderbaroptionall{
  width: 100%;
}
.siderbaroption{
  width: 100%;
}
.siderbaroption1s{
  height: 40px;
  margin-bottom: 5px;
  padding-left: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  
}
.siderbaroption1s:hover{
  background-color: rgb(41, 52, 74);
  cursor: pointer;
  text-decoration: none;
}
.activeOptions{
  color: red;
}
.sidenavbarMainHeading{
  font-size: 30px;
}
.sidebaricons{
  margin-right: 10px;
}
.profileImage{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-top: 70px;
}
.textchota{
  font-size: 15px;
}

/* Main Header Start Here */
.mainHeader{
  width: 100%;
}

/* panelboxes Start Here */
.panelboxes{
  width: 100%;
  margin-top: 10px;
  /* background-color: blue; */
}
.arrowbuttons{
  color: green;
  float: right;
  cursor: pointer;
}
.mainicons{
  background-color: rgb(241, 241, 247);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.mainicon{
  height:20px;
  width: 20px;
}
.SecondPanelBox{
  width: 100%;
  margin-top: 10px;
  height: 22rem;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.SecondPanelCard{
  height: 20rem;
}

.homeHeading{
  width: 100%;
  padding-left: 18px;
  padding-top: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  color: rgb(20, 3, 35);
}
.features{
  overflow-y: scroll;
  background-color: rgb(19, 19, 102);
}
.featurespart2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.featuresimages{
  width: 100%;
  /* height: 100%; */
}
.homepage{
  width: 90%;
  /* overflow-y: scroll; */
}

@media only screen and (max-width: 400px) {
  .sidenavbar{
    /* display: none; */
  }
  .homepage{
    /* background-color: black; */
    /* width: 100vw; */
    overflow-y: scroll;
  }
  .mainHeader{
    display: none;
  }
  
}